*{
    font-family: "Hanken Grotesk", sans-serif;
}

.project-list {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.project-title{
    color: #344054;
}

.project-container- {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border-radius: 40px;
    border: 1px solid black;

}

.project-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
}


.project-btn button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background: #FD853A;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.projects-data-display{
    margin: 0px 50px;
}

.project-data-main{
    font-size: 20px;
    font-weight: 800;
    color: #FD853A;
    margin-bottom: 30px;
}

.project-data-main span{
    font-size: 20px;
    color: #344054;
    font-weight: 400;
}

.project-data-header{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
    color: #344054;
}

.project-video{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.project-data-screenshot{
    margin-bottom: 60px;
}


.project-data-screenshot .screenshot-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-data-screenshot .screenshot-container img {
    width: 30%;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}


.project-data-skills ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 35px;
    gap: 50px;
}

.project-data-skills li img {
    transition: filter .1s, transform .1s;
}

.project-data-skills li img:hover {
    filter: drop-shadow(5px 5px 25px #ff8000);
    transform: scale(1.1);
    width: 90px;
    height: 90px;
}



.project-data-skills ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0px 30px;
    gap: 30px;
    color: #344054;
    font-size: 20px;
    font-weight: 600;
    font-family: "Hanken Grotesk", sans-serif;
}

.project-data-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}

.project-data-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-data-link{
    font-size: 24px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    color: #344054;
}