.contactus{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-top h1{
    font-size: 60px;
    font-weight: 600;
    color: #344054;

}

.contect-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #E4E7EC;
    border-radius: 50px;
    margin: 10px 10px;
    padding: 4px 4px;
}


.contact-bottom input{
    width: 332px;
    height: 56px;
    font-size: 18px;
    font-weight: 600;
    border: none;
}

.contact-bottom button{
    width: 100px;   
    height: 60px;
    border: none;
    background: #fd853a;
    color: white;
    border-radius: 60px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px;
    margin-left: 10px;


}

.contact-bottom img{
    width: 32px;   
    height: 32px;
    padding: 12px;
    background: #FFEAD5;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 10px;

}
