/* My Moblile */
@media (max-width: 440px) {

    /* Navbar Section */

    .navbar-main {
        width: 100% !important;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        height: auto;
        padding: 10px;
        justify-content: space-between;
    }

    .nav-menu-left,
    .nav-menu-right {
        flex-direction: column;
        width: 100%;
        font-size: 16px;
        display: none;
        /* Hide by default */
    }

    .nav-menu-left.show,
    .nav-menu-right.show {
        display: flex;
        /* Show when toggled */
    }

    .nav-item {
        padding: 10px 10px;
        height: auto;
        width: 100%;
    }

    .nav-logo {
        width: 100%;
    }

    .nav-logo.row {
        flex-direction: row;
        justify-content: center;
    }

    .nav-logo.column {
        flex-direction: column;
        align-items: center;
    }

    .nav-logo img {
        margin-bottom: 5px;
    }

    .nav-logo p.nav-name-full {
        display: none;
    }

    .nav-logo p.nav-name-prev {
        display: block;
    }

    .nav-menu-left {
        border-radius: 10px 10px 0 0;
    }

    .nav-menu-right {
        border-radius: 0 0 10px 10px;
    }

    .mobile-menu-icon img {
        display: block;
    }

    .mobile-menu-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .mobile-menu-icon img {
        width: 30px;
        height: 30px;
    }


    /* Skill Section */

    .skills img {
        padding: 10px 10px !important;
        width: 40px !important;
        height: 40px !important;
    }

    .skills h4 {
        font-size: 10px !important;
    }

    .skills_container {
        display: flex;
        justify-content: space-between !important;
        margin-top: 2%;

    }

    /* About Me Section */


    .aboutpage {
        margin-top: 70px !important;
        width: 100% !important;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .about-content h1 {
        text-align: center;
    }

    img.about-img-prev {
        width: 100%;
    }

    .about-content h1 {
        font-size: 30px !important;
        font-weight: 600;
    }

    .about-content p {
        font-size: 16px !important;
        color: #344054 !important;
        margin-bottom: 10px !important;

    }

    /* Project Section */

    .project-header h1 {
        font-size: 30px !important;

    }

    .each-slide {
        height: 200px !important;
    }

    .project-container- {
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .project-video iframe {
        height: 200px !important;
    }

    .project-data-content {
        display: flex;
        flex-direction: column !important;
        align-items: flex-start !important;
        gap: 0px !important;

    }

    .project-data-main {
        margin-bottom: 0px !important;
    }

    .project-data-skills li img {
        width: 40px !important;
        height: 40px !important;
        align-items: center !important;
    }

    .project-data-skills li {
        font-size: 16px !important;
    }

    .project-data-skills ul {
        padding: 0px !important;
    }

    .project-data-skills ul li {
        margin: 0px 10px !important;
    }

    .project-data-skills ul {
        gap: 0px !important;
    }

    .project-data-screenshot .screenshot-container img {
        width: 43% !important;
    }

    .project-btn {
        margin-left: 0px !important;
    }

    .react-slideshow-container+ul.indicators{
        padding: 0px !important;
    }



    /* Contectus Section */

    .contactus {
        width: 100% !important;
    }

    .contact-top h1 {
        font-size: 30px !important;
        color: #344054 !important;
        font-weight: 600 !important;
    }


    .contact-bottom {
        width: 100% !important;
    }

    .contect-text span {
        color: #fd853a;
    }

    .contect-text h1{
        margin: 0px 10px;
    }


    /* Footer Section */

    .scroll-to-top {
        bottom: 200px;
    }

    .footer {
        width: auto !important;
        padding: 5px 50px !important;
    }

    .footer-container-top {
        margin: 20px 0px !important;
        flex-direction: column;
        align-items: self-start !important;
    }

    .footer-container-top h1 {
        font-size: 30px !important;
        line-height: 50px !important;
        margin-bottom: 20px;
    }

    .footer-container-middle {
        display: grid;
        grid-template-columns: 1fr !important;
        justify-items: start !important;
    }

    .footer-container-bottom {
        flex-direction: column;
    }

    .footer-container-bottom p {
        margin: 0;
        font-size: 12px !important;
        line-height: 40px !important;
    }

    .footer-email-btn {
        width: 80%;
        margin-left: -40px;
    }

    .footer-email-btn input {
        margin: 0%;
    }

    .footer-email h3 {
        margin-left: -20px;
    }

}